@if (ViewBag.TipoAlerta == "1")
{
    <div class="modal fade" data-backdrop="false" tabindex="-1" padding-right: 17px;" role="dialog" id="modal-mensaje">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content bg-gradient-green">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="icon fas fa-check"></i> ¡Guardado!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>

                </div>
                <div class="modal-body text-center">
                    Datos guardados exitosamente.
                </div>
            </div>
        </div>
    </div>
}