@using System.Security.Claims
@using Juridico.Graph



<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="~/img/logo_goes.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">JURIDICO - SIGET</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        @if (User.Identity.IsAuthenticated)
        {
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="@User.GetUserGraphPhoto()" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">@User.GetUserGraphDisplayName()</a>
                    <a href="#" class="d-block"><small>@User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.Role))?.Value</small></a>
                </div>
            </div>
        }
        else
        {
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/img/man.png" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Sesión no iniciada</a>
                </div>
            </div>
        }

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut" class="nav-link">
                            <i class="nav-icon fas fa-sign-out-alt"></i>
                            <p>
                                Cerrar sesión
                            </p>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn" class="nav-link">
                            <i class="nav-icon fas fa-sign-in-alt"></i>
                            <p>
                                Iniciar sesión
                                <span class="right badge badge-danger">New</span>
                            </p>
                        </a>
                    </li>
                }
               
                 
                  
                  
                   
                <!-- Otros -->
                <li class="nav-header">Otros</li>
                <!-- Soporte informática -->
                <li class="nav-item">
                    <a href="https://helpdesk.siget.gob.sv/" class="nav-link">
                        <i class="nav-icon fa fa-life-ring"></i>
                        <p>Soporte informática</p>
                    </a>
                </li>
        
                    <!-- En desarrollo -->
                    <li class="nav-header">En desarrollo</li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-vial"></i>
                            <p>
                                Pruebas
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a  class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Lista</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a  class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Prueba Carga Documentos</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a  class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Test envío correo</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a  class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Test formulario</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>