@model Juridico.ViewModels.CorrespondenciaViewModel
@*@using Juridico.Helpers;*@


@{
    ViewData["Title"] = "Correspondencia";
    ViewData["CardTitle"] = "Ingreso Correspondencia";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <partial name="_Alertas"/>
        <input type="hidden" id="carga" value="@ViewBag.Carga"/>
        <!-- general form elements -->
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form asp-action="IngresarCorrespondencia">
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label asp-for="Codigo" class="control-label"></label>
                                <input readonly asp-for="Codigo" class="form-control"/>
                                <span asp-validation-for="Codigo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label asp-for="Referencia" class="control-label"></label>
                                <input asp-for="Referencia" class="form-control"/>
                                <span asp-validation-for="Referencia" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label asp-for="FechaIngreso" class="control-label"></label>
                                <input asp-for="FechaIngreso" class="form-control"/>
                                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">

                                <label asp-for="FechaDocumento" class="control-label"></label>
                                <input asp-for="FechaDocumento" class="form-control"/>
                                <span asp-validation-for="FechaDocumento" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="form-group col-lg-8">

                            <label asp-for="RemitenteId" class="control-label">Remitente</label>
                            <select asp-for="RemitenteId" class="form-control select2-remitentes" style="width: 100%;">
                                <option value="0" selected="selected">Seleccione una opción</option>
                            </select>
                            <span asp-validation-for="RemitenteId" class="text-danger"></span>

                        </div>
                        <div class="col-lg-4 mt-3">
                            <a onclick="showInPopupLg('@Url.Action("AddRemitente", "Remitentes", null, Context.Request.Scheme)', 'Nuevo Remitente')" class="btn btn-primary btn-block"><i class="fa fa-plus-circle"></i> Nuevo Remitente</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Remitente</label>
                                <input disabled id="remitente_nombre" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="form-group col-lg-8">
                            <label asp-for="PersonaPresentoId" class="control-label">Presentado Por</label>
                            <select asp-for="PersonaPresentoId" class="form-control select3-personas" style="width: 100%;" asp-items="ViewBag.Personas">
                                <option value="0" selected="selected">Seleccione una opción</option>
                            </select>
                            <span asp-validation-for="PersonaPresentoId" class="text-danger"></span>

                        </div>
                        <div class="col-lg-4 mt-3">
                            <a onclick="showInPopupLg('@Url.Action("AddPersona", "Persona", null, Context.Request.Scheme)', 'Nueva Persona')" class="btn btn-primary btn-block"><i class="fa fa-plus-circle"></i> Nueva Persona</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Nombres</label>
                            <input disabled id="persona_nombres" class="form-control"/>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Apellidos</label>
                            <input disabled id="persona_apellidos" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>DUI</label>
                            <input disabled id="persona_dui" class="form-control"/>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Otro Documento</label>
                            <input disabled id="persona_otrodocumento" class="form-control"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <label asp-for="Objeto" class="control-label"></label>
                            <textarea asp-for="Objeto" class="form-control"></textarea>
                            <span asp-validation-for="Objeto" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">

                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="form-group col-lg-12">
                            <div class="form-group">
                                @*<label asp-for="AnexoId" class="control-label d-block"></label>*@
                                <label class="control-label">Seleccione Anexos de la correspondencia</label>
                                <select id="anexos" style="width: 100%;" asp-for="Id_Anexos" name="anexos[]" class="form-control select2" multiple="multiple" asp-items="ViewBag.Id_Anexos">
                                </select>
                            </div>
                        </div>
                    </div>
                </div> <!-- card body -->
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-success btn-block"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-4">
                            <a class="btn btn-default btn-block btn-flat" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <!-- Select2 -->
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <!-- JasnyBootstrap -->
    <script src="~/lib/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>


    <script type="text/javascript">

        function getRemitente() {
            var RemitenteId = $("#RemitenteId").val();
            $.ajax({
                url: `/api/Remitentes/${RemitenteId}`,
                contentType: 'application/json',
                type: 'GET',
                success: function(data) {
                    $("#remitente_nombre").val(data.nombreRemitente);
                },
                error: function() {
                    alert('Error de conexión con el servidor.');
                }

            });
        }

        function getPersona() {
            let PersonaId = $("#PersonaPresentoId").val();
            $.ajax({
                url: `/api/Personas/${PersonaId}`,
                contentType: 'application/json',
                type: 'GET',
                success: function(data) {
                    $("#persona_nombres").val(data.nombres);
                    $("#persona_apellidos").val(data.apellidos);
                    $("#persona_dui").val(data.dui);
                    $("#persona_otroDocumento").val(data.otroDocumento);
                },
                error: function() {
                    alert('Error de conexión con el servidor.');
                }
            });

        }

        // Función principal, espera a que el documento esté cargado para ejecutarse.
        $(function() {
            //Initialize Select2 Elements
            $('.select2').select2();
            $('.select2-remitentes').select2(
                {
                    ajax: {
                        url: function(params) {
                            return `/api/Remitentes/Search/${params.term}`;
                        },
                        headers: {
                            'apiKey': 'pYJY2uZ2j0So6OnezzPf9Q'
                        },
                        processResults: function(data) {
                            var dataMap = $.map(data,
                                function(obj) {
                                    return {
                                        id: obj.id,
                                        text: obj.nombreRemitente
                                    };
                                });
                            return {
                                results: dataMap
                            };
                        }
                    }
                });
            $('.select3-personas').select2({
                ajax: {
                        url: function(params) {
                            return `/api/Personas/Search/${params.term}`;
                        },
                        headers: {
                            'apiKey': 'pYJY2uZ2j0So6OnezzPf9Q'
                        },
                        processResults: function(data) {
                            var dataMap = $.map(data,
                                function(obj) {
                                    return {
                                        id: obj.id,
                                        text: obj.nombreCompletoDui
                                    };
                                });
                            return {
                                results: dataMap
                            };
                        }
                    }
                });
            //
            $("#RemitenteId").on('change', getRemitente);
            if (parseInt($("#RemitenteId").val()) > 0) {
                getRemitente();
            }
            //
            $("#PersonaPresentoId").on('change', getPersona);

            if (parseInt($("#PersonaPresentoId").val()) > 0) {
                var PersonaId = $("#PersonaPresentoId").val();
                console.log("Hello world11!");
                console.log(PersonaId);
                getPersona();
            }

        });


    </script>
}